<div class="alert alert-block alert-info">

# Especialització de DataScience de la IT ACADEMY
### *Sprint4 - Exercici 1*
#### Estandaritza, identifica i enumera cada un dels atributs / variables de l'estructura de l'arxiu "Web_access_log-akumenius.com" que trobaràs al repositori de GitHub "Data-sources". 
https://github.com/IT-Academy-BCN/Data-Science/blob/main/Data-sources/Web_access_log-akumenius.com.txt.7z

#### Alumne: Jorge Prieto Rey
    
<div>

In [1]:
import pandas as pd
import numpy as np
import re

In [3]:
#Llibreria per extreure fitxer .7z
import py7zr

In [6]:
with py7zr.SevenZipFile('Web_access_log-akumenius.com.txt.7z', mode='r') as z:
    z.extractall()

In [2]:
filename='Web_access_log-akumenius.com.txt'

In [3]:
fields = ['c1','c2','c3','c4','c5','c6','c7','c8','c9','c10','c11','c12','c13','c14']
    
data = pd.read_csv(filename, sep=' ', header=None, names=fields, na_values=['-'])
data

P:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14
0,localhost,127.0.0.1,NaN,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN
1,localhost,127.0.0.1,NaN,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN
2,localhost,127.0.0.1,NaN,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN
3,localhost,127.0.0.1,NaN,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN
4,localhost,127.0.0.1,NaN,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,NaN,NaN,[02/Mar/2014:03:05:39,+0100],GET / HTTP/1.1,200,7528.0,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,VLOG=-,NaN,NaN
261869,www.akumenius.com,74.86.158.107,NaN,NaN,[02/Mar/2014:03:09:52,+0100],HEAD / HTTP/1.1,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...,VLOG=-,NaN,NaN
261870,localhost,127.0.0.1,NaN,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN
261871,localhost,127.0.0.1,NaN,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN
261872,localhost,127.0.0.1,NaN,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN

<div class="alert alert-block alert-info">

### *Sprint4 - Exercici 2*

Neteja, preprocesa, estructura i transforma (dataframe) les dades del registre d'Accés a la web. 
    
<div>

In [4]:
print('Total files: '+str(len(data)))
print('nombre de NaN en Columnes:')
data.isna().sum()

Total files: 261873
nombre de NaN en Columnes:

c1          0
c2          0
c3     261873
c4     261846
c5          0
c6          0
c7         37
c8          0
c9      42335
c10     99545
c11       221
c12         0
c13    261871
c14    261873
dtype: int64

In [5]:
#eliminem la columna c3 i c14 ja que no conte dades
data=data.drop(['c3','c14'],axis=1)

In [6]:
#renombrem les columnes del dataframe
newLength = len(fields)-2;
fields= fields[0:newLength]
data.columns = fields
data

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12
0,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
1,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
2,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
3,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
4,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,NaN,[02/Mar/2014:03:05:39,+0100],GET / HTTP/1.1,200,7528.0,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,VLOG=-,NaN
261869,www.akumenius.com,74.86.158.107,NaN,[02/Mar/2014:03:09:52,+0100],HEAD / HTTP/1.1,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...,VLOG=-,NaN
261870,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
261871,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
261872,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN

In [7]:
data['c12'].value_counts(sort=False)

VLOG=-    2
Name: c12, dtype: int64

In [8]:
data1 = data.loc[data['c12'] == 'VLOG=-']

In [9]:
data1.index

Int64Index([181473, 236496], dtype='int64')

#### Hi ha 2 files que no estan ben alineades perquè 'VLOG=-' esta a la columna c13

In [10]:
data[data1.index[0]-1:data1.index[0]+2]

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12
181472,www.akumenius.com,74.86.158.106,NaN,[26/Feb/2014:23:44:15,+0100],HEAD / HTTP/1.1,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...,VLOG=-,NaN
181473,www.akumenius.com,5.10.83.41,NaN,[26/Feb/2014:23:44:22,+0100],GET /escapadas/escapada-especial-san-valentin-...,"HTTP/1.1""",200.0,3100,NaN,Mozilla/5.0 (compatible; AhrefsBot/5.0; +http:...,VLOG=-
181474,www.akumenius.com,220.181.108.96,NaN,[26/Feb/2014:23:44:31,+0100],GET / HTTP/1.1,200,25030.0,NaN,Mozilla/5.0 (compatible; Baiduspider/2.0; +htt...,VLOG=-,NaN

In [11]:
data[data1.index[1]-1:data1.index[1]+2]

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12
236495,www.akumenius.com,89.29.152.238,NaN,[28/Feb/2014:16:07:21,+0100],POST /destinos-insert HTTP/1.1,200,26.0,http://www.akumenius.com/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,VLOG=-,NaN
236496,www.akumenius.com,5.10.83.11,NaN,[28/Feb/2014:16:07:20,+0100],"GET /escapadas/escapada-\al-salto-de-roldan\""-...","HTTP/1.1""",200.0,3100,NaN,Mozilla/5.0 (compatible; AhrefsBot/5.0; +http:...,VLOG=-
236497,www.akumenius.com,89.29.152.238,NaN,[28/Feb/2014:16:07:22,+0100],GET /libraries/jqueryui/css/ui-lightness/image...,200,104.0,http://www.akumenius.com/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,VLOG=-,NaN

In [12]:
#Juntem les columnes C6 i C7
data1['c6'] = data1['c6'].map(str)+""+data1['c7']

P:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
#Eliminen la columna C7
data1=data1.drop(['c7'],axis=1)
data1

,c1,c2,c3,c4,c5,c6,c8,c9,c10,c11,c12
181473,www.akumenius.com,5.10.83.41,NaN,[26/Feb/2014:23:44:22,+0100],GET /escapadas/escapada-especial-san-valentin-...,200.0,3100,NaN,Mozilla/5.0 (compatible; AhrefsBot/5.0; +http:...,VLOG=-
236496,www.akumenius.com,5.10.83.11,NaN,[28/Feb/2014:16:07:20,+0100],"GET /escapadas/escapada-\al-salto-de-roldan\""-...",200.0,3100,NaN,Mozilla/5.0 (compatible; AhrefsBot/5.0; +http:...,VLOG=-

In [14]:
data1.loc[:,'b1'] = np.nan
#renombrem les columnes del dataframe
data1.columns = fields
data1

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12
181473,www.akumenius.com,5.10.83.41,NaN,[26/Feb/2014:23:44:22,+0100],GET /escapadas/escapada-especial-san-valentin-...,200.0,3100,NaN,Mozilla/5.0 (compatible; AhrefsBot/5.0; +http:...,VLOG=-,NaN
236496,www.akumenius.com,5.10.83.11,NaN,[28/Feb/2014:16:07:20,+0100],"GET /escapadas/escapada-\al-salto-de-roldan\""-...",200.0,3100,NaN,Mozilla/5.0 (compatible; AhrefsBot/5.0; +http:...,VLOG=-,NaN

In [15]:
#reemplaçem les files 181473 i 236496
data.iloc[data1.index]=data1
data

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12
0,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
1,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
2,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
3,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
4,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,NaN,[02/Mar/2014:03:05:39,+0100],GET / HTTP/1.1,200,7528,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,VLOG=-,NaN
261869,www.akumenius.com,74.86.158.107,NaN,[02/Mar/2014:03:09:52,+0100],HEAD / HTTP/1.1,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...,VLOG=-,NaN
261870,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
261871,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
261872,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN

In [16]:
#Verifiquem que la columna c12 no te valors
if ((len(data['c12'])) == (data['c12'].isnull().sum(axis=0))):
    print('Columna buida')

Columna buida

In [17]:
#eliminem la columna c12 ja que no conte dades
data=data.drop(['c12'],axis=1)
data

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
0,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
1,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
2,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
3,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
4,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
...,...,...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,NaN,[02/Mar/2014:03:05:39,+0100],GET / HTTP/1.1,200,7528,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,VLOG=-
261869,www.akumenius.com,74.86.158.107,NaN,[02/Mar/2014:03:09:52,+0100],HEAD / HTTP/1.1,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...,VLOG=-
261870,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
261871,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
261872,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-

In [18]:
data['c11'].value_counts(sort=False)

VLOG=-    261873
Name: c11, dtype: int64

In [19]:
#eliminem la columna c11 ja que totes les columnes contenen el mateix valors
data=data.drop(['c11'],axis=1)

#### Renombren les columnes amb la descripció dels elements del log ####

In [20]:
data

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10
0,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
1,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
2,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
3,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
4,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
...,...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,NaN,[02/Mar/2014:03:05:39,+0100],GET / HTTP/1.1,200,7528,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...
261869,www.akumenius.com,74.86.158.107,NaN,[02/Mar/2014:03:09:52,+0100],HEAD / HTTP/1.1,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...
261870,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
261871,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
261872,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)

In [21]:
data['c3'].value_counts(sort=False)

clarcat    27
Name: c3, dtype: int64

In [22]:
data1 = data.loc[data['c3'] == 'clarcat']
data1

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10
51797,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:54:07,+0100],GET /awstats HTTP/1.1,200,996,NaN,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51799,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:54:08,+0100],GET /awstats.pl?framename=mainleft HTTP/1.1,200,10066,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51809,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:54:08,+0100],GET /awstats.pl?framename=mainright HTTP/1.1,200,120843,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51905,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:55:34,+0100],GET /awstats.pl?month=02&year=2013&output=main...,200,1146,http://www.akumenius.com/awstats.pl?framename=...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51906,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:55:34,+0100],GET /awstats.pl?month=02&year=2013&output=main...,200,12249,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51907,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:55:34,+0100],GET /awstats.pl?month=02&year=2013&output=main...,200,109613,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51923,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:55:54,+0100],GET /awstats.pl?month=02&year=2012&output=main...,200,1146,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51924,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:55:54,+0100],GET /awstats.pl?month=02&year=2012&output=main...,200,12249,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51926,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:55:54,+0100],GET /awstats.pl?month=02&year=2012&output=main...,200,108224,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51939,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:56:13,+0100],GET /awstats.pl?month=02&year=2014&output=main...,200,1146,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51940,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:56:13,+0100],GET /awstats.pl?month=02&year=2014&output=main...,200,12249,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51943,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:56:14,+0100],GET /awstats.pl?month=02&year=2014&output=main...,200,122007,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
97210,www.akumenius.com,80.28.221.123,clarcat,[25/Feb/2014:09:53:27,+0100],GET /awstats HTTP/1.1,200,996,NaN,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
97211,www.akumenius.com,80.28.221.123,clarcat,[25/Feb/2014:09:53:28,+0100],GET /awstats.pl?framename=mainleft HTTP/1.1,200,10066,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
97215,www.akumenius.com,80.28.221.123,clarcat,[25/Feb/2014:09:53:28,+0100],GET /awstats.pl?framename=mainright HTTP/1.1,200,120914,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
153621,www.akumenius.com,80.28.221.123,clarcat,[26/Feb/2014:10:02:46,+0100],GET /awstats HTTP/1.1,200,996,NaN,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
153622,www.akumenius.com,80.28.221.123,clarcat,[26/Feb/2014:10:02:46,+0100],GET /awstats.pl?framename=mainleft HTTP/1.1,200,10066,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
153631,www.akumenius.com,80.28.221.123,clarcat,[26/Feb/2014:10:02:46,+0100],GET /awstats.pl?framename=mainright HTTP/1.1,200,120993,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
195142,www.akumenius.com,80.28.221.123,clarcat,[27/Feb/2014:12:48:52,+0100],GET /awstats HTTP/1.1,200,996,NaN,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
195143,www.akumenius.com,80.28.221.123,clarcat,[27/Feb/2014:12:48:52,+0100],GET /awstats.pl?framename=mainleft HTTP/1.1,200,10066,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
195149,www.akumenius.com,80.28.221.123,clarcat,[27/Feb/2014:12:48:52,+0100],GET /awstats.pl?framename=mainright HTTP/1.1,200,121262,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
196484,www.akumenius.com,80.28.221.123,clarcat,[27/Feb/2014:13:43:05,+0100],GET /awstats HTTP/1.1,200,996,NaN,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
196486,www.akumenius.com,80.28.221.123,clarcat,[27/Feb/2014:13:43:06,+0100],GET /awstats.pl?framename=mainleft HTTP/1.1,200,10066,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
196488,www.akumenius.com,80.28.221.123,clarcat,[27/Feb/2014:13:43:06,+0100],GET /awstats.pl?framename=mainright HTTP/1.1,200,121262,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
230605,www.akumenius.com,80.28.221.123,clarcat,[28/Feb/2014:09:41:38,+0100],GET /awstats HTTP/1.1,200,996,NaN,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
230606,www.akumenius.com,80.28.221.123,clarcat,[28/Feb/2014:09:41:39,+0100],GET /awstats.pl?framename=mainleft HTTP/1.1,200,10066,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
230610,www.akumenius.com,80.28.221.123,clarcat,[28/Feb/2014:09:41:39,+0100],GET /awstats.pl?framename=mainright HTTP/1.1,200,121317,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....

In [23]:
#Eliminem la columna c3 perque no ens dona informació rellevant
data=data.drop(['c3'],axis=1)
data

,c1,c2,c4,c5,c6,c7,c8,c9,c10
0,localhost,127.0.0.1,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
1,localhost,127.0.0.1,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
2,localhost,127.0.0.1,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
3,localhost,127.0.0.1,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
4,localhost,127.0.0.1,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,[02/Mar/2014:03:05:39,+0100],GET / HTTP/1.1,200,7528,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...
261869,www.akumenius.com,74.86.158.107,[02/Mar/2014:03:09:52,+0100],HEAD / HTTP/1.1,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...
261870,localhost,127.0.0.1,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
261871,localhost,127.0.0.1,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
261872,localhost,127.0.0.1,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)

#### La data en les columnes c4 i c5 representada el temps en dues part, separem la data i l'hora en una nova columna anomenada time i eliminem la columna de zona horaria. També eliminem les columnes c4 i c5 ####

In [24]:
time = data['c4'] + data['c5']
time_trimmed = time.map(lambda s: s.strip('[]').split('+')[0])
data['time'] = pd.to_datetime(time_trimmed, format='%d/%b/%Y:%H:%M:%S')
data=data.drop(['c4'],axis=1)
data=data.drop(['c5'],axis=1)

#### Separem la columna c6 en 3 columnes per "Protocol" + "command" i "path" ####

In [25]:
data_c6=data['c6'].str.split(expand=True)
data_c6.columns = ['command','path','protocol']
data_c6

        command path  protocol
0       OPTIONS    *  HTTP/1.0
1       OPTIONS    *  HTTP/1.0
2       OPTIONS    *  HTTP/1.0
3       OPTIONS    *  HTTP/1.0
4       OPTIONS    *  HTTP/1.0
...         ...  ...       ...
261868      GET    /  HTTP/1.1
261869     HEAD    /  HTTP/1.1
261870  OPTIONS    *  HTTP/1.0
261871  OPTIONS    *  HTTP/1.0
261872  OPTIONS    *  HTTP/1.0

[261873 rows x 3 columns]

In [26]:
#verifiquem que la columna c9 conte les url
data['c9'].value_counts(sort=False)

http://www.akumenius.com/hotelDetailPopup/325/e/3                                                                                                                                                                                                                                                                    10
http://www.akumenius.com/hotelDetailPopup/216055/b                                                                                                                                                                                                                                                                    2
http://www.akumenius.com/booking/32182/e/1/1?i=h6LFj6mZYITfKmnztgvO4Kmm1VwDT41waBaUDL%2BS8k4%3D                                                                                                                                                                                                                      11
http://www.akumenius.com/hoteles-baratos/ofertas-hotel-Nuevo-Astur-en-Sanxenxo-9690b-destinos.html                                                                                                                                                                                                                   47
http://www.akumenius.com/destinos-caracteristicas/hoteles-baratos-en-Venecia_ITALIA-con-Pensi%C3%B3n-completa                                                                                                                                                                                                        16
                                                                                                                                                                                                                                                                                                                   ...
http://www.akumenius.com/hotel-list/102482/EP/ESCAPADA%20ESPECIAL%20SEMANA%20SANTA%20HOTEL%20PLAYAS%20DE%20GUARDAMAR/escapada?type=1                                                                                                                                                                                237
http://www.akumenius.com/hoteles-baratos/hoteles-todo-incluido.html?gclid=CP7GvrSD7LwCFYUIwwoduBcAyQ                                                                                                                                                                                                                 49
http://www.google.com/url?sa=t&rct=j&q=&esrc=s&frm=1&source=web&cd=1&ved=0CDcQFjAA&url=http%3A%2F%2Fwww.akumenius.com%2FdestinosCaracteristicas%2Fhoteles-baratos-en-Navarra_ESPA%25C3%2591A-con-Piscina-climatizada&ei=wq8LU_LoBIOb0QWzkICYCQ&usg=AFQjCNG-XfC5zY9BQ_z-6P7udZh1X_sMvQ&bvm=bv.61725948,d.d2k           2
http://www.google.es/aclk?sa=L&ai=C1cZdQrwMU5WzN6GmjAb36YH4BIWf4bUEjZ-np4gBmrqOiuUBCAAQAVDEuMuJBWDV5dqCiAnIAQGpAjr6dSWWFLc-qgQlT9BxWtZ5AUKJqQq5JiGxtDjh5vuK8eyu58L3XehzU2f4E332C4AHkcqaE5AHAw&sig=AOD64_3wPzW2skebeqp6nyXGVfeNetnuag&rct=j&frm=1&q=semana+santa+2014&ved=0CC4Q0Qw&adurl=http://www.akumenius.com      1
http://www.akumenius.com/destinosCaracteristicas/hoteles-baratos-en-Rostock_ALEMANIA-con-Disponibilidad-de-cobertura-para-tel%C3%A9fonos-m%C3%B3viles                                                                                                                                                                42
Name: c9, Length: 2506, dtype: int64

In [27]:
data=data.drop(['c6'],axis=1) #Eliminar columna c6
data=pd.concat([data,data_c6],axis = 1)

In [28]:
#c7 http_code 
#c8 response bytes
#c10 user_agent
#c9 url
data.rename(columns = {'c1':'host','c2':'ip','c7':'http_code','c8' : 'response_bytes','c9':'url','c10':'user_agent'},inplace = True)
data

,host,ip,http_code,response_bytes,url,user_agent,time,command,path,protocol
0,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
1,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
2,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
3,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
4,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
...,...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,200,7528,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,2014-03-02 03:05:39,GET,/,HTTP/1.1
261869,www.akumenius.com,74.86.158.107,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...,2014-03-02 03:09:52,HEAD,/,HTTP/1.1
261870,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-03-02 03:10:18,OPTIONS,*,HTTP/1.0
261871,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-03-02 03:10:18,OPTIONS,*,HTTP/1.0
261872,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-03-02 03:10:18,OPTIONS,*,HTTP/1.0

In [29]:
#exemple de fila del dataframe
data.iloc[15452]

host                                              www.akumenius.com
ip                                                    88.31.143.254
http_code                                                       200
response_bytes                                                  742
url                             http://www.akumenius.com/hotel-list
user_agent        Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
time                                            2014-02-23 12:51:43
command                                                         GET
path              /modules/raton/views/themes/bcoos/images/busca...
protocol                                                   HTTP/1.1
Name: 15452, dtype: object

<div class="alert alert-block alert-info">

### *Sprint4 - Exercici 3*

Geolocalitza les IP's.
    
<div>

In [33]:
import requests
import json

In [36]:
# URL de la API
api_url = "http://ip-api.com/json/"

In [54]:
#lista ips
data_ips=(data['ip'].value_counts(sort=False)).index

In [55]:
data_ips

Index(['181.118.30.53', '157.56.93.62', '220.181.108.82', '46.236.24.53',
       '85.136.169.148', '173.252.101.112', '79.108.184.134',
       '220.181.108.115', '190.91.95.13', '84.79.214.214',
       ...
       '202.46.61.33', '87.221.33.120', '66.220.152.112', '217.16.255.159',
       '177.68.141.25', '90.174.1.32', '199.30.20.5', '180.76.6.56',
       '212.231.183.216', '54.234.37.0'],
      dtype='object', length=2921)

In [56]:
data_ips[0]

'181.118.30.53'

In [39]:
# Definimos los parametros de respuesta que queremos obtener
parametros = 'status,country,countryCode,region,regionName,city,zip,lat,lon,timezone,isp,org,as,query'
data_Ip = {"fields":parametros}

In [43]:
def ip_scraping(ip=""):
 # Nos conectamos con la API
 res = requests.get(api_url+ip, data=data_Ip)
 # Obtenemos y procesamos la respuesta JSON
 api_json_res = json.loads(res.content)
 return api_json_res

In [68]:
ip_response = ip_scraping(data_ips[0])
ip_response

{'status': 'success',
 'country': 'Argentina',
 'countryCode': 'AR',
 'region': 'M',
 'regionName': 'Mendoza',
 'city': 'Godoy Cruz',
 'zip': '5501',
 'lat': -32.9204,
 'lon': -68.8293,
 'timezone': 'America/Argentina/Mendoza',
 'isp': 'Alpha Tel S.A.',
 'org': 'Alpha Tel S.A',
 'as': 'AS28114 Alpha Tel S.A.',
 'query': '181.118.30.53'}

In [70]:
ip_df=pd.DataFrame([ip_scraping(data_ips[0])])

In [71]:
for ip in data_ips:
    ip_df = ip_df.append([ip_scraping(ip)],ignore_index=True)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [72]:
ip_df

,status,country,countryCode,region,regionName,city,zip,lat,lon,timezone,isp,org,as,query
0,success,Argentina,AR,M,Mendoza,Godoy Cruz,5501,-32.9204,-68.829300,America/Argentina/Mendoza,Alpha Tel S.A.,Alpha Tel S.A,AS28114 Alpha Tel S.A.,181.118.30.53
1,success,Argentina,AR,M,Mendoza,Godoy Cruz,5501,-32.9204,-68.829300,America/Argentina/Mendoza,Alpha Tel S.A.,Alpha Tel S.A,AS28114 Alpha Tel S.A.,181.118.30.53
2,success,United States,US,WA,Washington,Quincy-moses Lake,98848,47.2342,-119.852500,America/Los_Angeles,Microsoft Corporation,Microsoft Corporation,AS8075 Microsoft Corporation,157.56.93.62
3,success,China,CN,BJ,Beijing,Beijing,,39.9042,116.407000,Asia/Shanghai,"IDC, China Telecommunications Corporation",,"AS23724 IDC, China Telecommunications Corporation",220.181.108.82
4,success,United Kingdom,GB,ENG,England,London,W1B,51.5074,-0.127758,Europe/London,Pulsant (Scotland) Ltd,Dedipower Dedicated O1fl,AS12703 Pulsant (Scotland) Ltd,46.236.24.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,success,Spain,ES,CT,Catalonia,Barcelona,08001,41.3870,2.170100,Europe/Madrid,RIMA (Red IP Multi Acceso),,AS3352 TELEFONICA DE ESPANA,80.35.187.33
86,success,United States,US,WA,Washington,Quincy,98848,47.2330,-119.852000,America/Los_Angeles,Microsoft Corporation,Microsoft Azure Cloud (westus2),AS8075 Microsoft Corporation,199.30.25.230
87,success,Spain,ES,MD,Madrid,Madrid,28049,40.4163,-3.693400,Europe/Madrid,Telefonica de Espana SAU,RIMA (Red IP Multi Acceso),AS3352 TELEFONICA DE ESPANA,81.39.110.171
88,success,Spain,ES,MD,Madrid,Madrid,28760,40.5167,-3.664790,Europe/Madrid,Telefonica de Espana SAU,RIMA (Red IP Multi Acceso),AS3352 TELEFONICA DE ESPANA,83.46.27.9
89,success,Spain,ES,VC,Valencia,Paiporta,46200,39.4305,-0.419100,Europe/Madrid,Telefonica de Espana SAU,TDENET (Red de servicios IP),AS3352 TELEFONICA DE ESPANA,212.170.176.111

#### La funció només permet processar les Ips en files de 90

### Relacions amb el dataframe principal

In [74]:
data

,host,ip,http_code,response_bytes,url,user_agent,time,command,path,protocol
0,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
1,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
2,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
3,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
4,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
...,...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,200,7528,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,2014-03-02 03:05:39,GET,/,HTTP/1.1
261869,www.akumenius.com,74.86.158.107,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...,2014-03-02 03:09:52,HEAD,/,HTTP/1.1
261870,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-03-02 03:10:18,OPTIONS,*,HTTP/1.0
261871,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-03-02 03:10:18,OPTIONS,*,HTTP/1.0
261872,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-03-02 03:10:18,OPTIONS,*,HTTP/1.0

In [75]:
http_code_host = data.groupby([data.http_code, data.ip]).count()
http_code_host.iloc[:len(http_code_host.index)]

                           host  response_bytes  url  user_agent  time  \
http_code ip
200       107.21.14.116       2               2    0           1     2
          109.107.105.181    70              70   69          70    70
          109.120.157.179     2               2    2           2     2
          109.205.137.141     1               1    0           1     1
          109.208.120.233     1               1    0           1     1
...                         ...             ...  ...         ...   ...
408       85.57.252.60        5               0    0           0     5
          92.58.211.126       5               0    0           0     5
500       80.28.221.123       2               0    0           2     2
502       176.31.255.177     18              18    0          18    18
          80.28.221.123       1               1    0           1     1

                           command  path  protocol
http_code ip
200       107.21.14.116          2     2         2
          109.107.105.181       70    70        70
          109.120.157.179        2     2         2
          109.205.137.141        1     1         1
          109.208.120.233        1     1         1
...                            ...   ...       ...
408       85.57.252.60           0     0         0
          92.58.211.126          0     0         0
500       80.28.221.123          2     2         2
502       176.31.255.177        18    18        18
          80.28.221.123          1     1         1

[4564 rows x 8 columns]

### Nombre de peticions per Ip

In [77]:
ip = data.groupby([data.ip]).size()

In [80]:
ip

ip
101.199.108.59      32
101.226.167.226      1
107.178.37.48      194
107.178.38.221     176
107.21.14.116        2
                  ...
95.63.234.126      265
95.63.60.249       154
96.242.31.129       52
98.137.206.41       11
98.244.10.248       91
Length: 2921, dtype: int64